<!DOCTYPE html>
<html>
	<head>
		{% include 'header.html' %}
	</head>
	<body>

		<section class="section">

		<div class="container">

			<div class="columns is-centered">
				<div class="column is-half">

					<h1 class="title is-1">{{ title }}</h1>

					{% if loginFailed %}
					<article class="message is-danger">
						<div class="message-body">
							{% if showUsername and showPassword %}
							Username or Password were <strong>incorrect</strong>. Please try again.
							{% else %}
							Login was not possible.
							{% endif %}
						</div>
					</article>
					{% endif %}

					<div class="card">
						<header class="card-header">
							{% if methods%}
							<div class="tabs">
								<ul>
									{% for method in methods %}
									<li {% if method == active_method %}class="is-active"{% endif %}><a href="?{{ argstring }}method={{ method['method'] }}">{{ method['name'] }}</a></li>
									{% endfor %}
								</ul>
							</div>
							{% else %}
							<p class="card-header-title">Login</p>
							{% endif %}
						</header>
						<div class="card-content">
							<div class="content">
								<form id="loginForm" method="POST">

									{% if showUsername %}
									<div class="field is-horizontal">
										<div class="field-label is-normal">
											<label class="label">Username</label>
										</div>
										<div class="field-body">
											<div class="field">
												<div class="control">
													<input class="input" type="text" name="username" id="username" placeholder="britzel">
												</div>
											</div>
										</div>
									</div>
									{% endif %}

									{% if showPassword %}
									<div class="field is-horizontal">
										<div class="field-label is-normal">
											<label class="label">Password</label>
										</div>
										<div class="field-body">
											<div class="field">
												<div class="control">
													<input class="input" id="password" type="password" name="password" placeholder="kleinerHasi69">
												</div>
											</div>
										</div>
									</div>
									{% endif %}
									<div class="field is-grouped is-grouped-right">
										<button type="submit" id="loginButton" class="button is-danger card-footer-item">Login</button>
									</div>
								</form>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
		</section>

		<!-- footer -->
		{% include 'footer.html' %}

		<!-- JS to make things work -->
		{% include 'login.js' %}
	</body>
</html>
