<!DOCTYPE html>
<html>
	<head>
		{% include 'header.html' %}
	</head>
	<body>

				<!-- for mobile -->
				<nav class="navbar is-danger is-hidden-desktop" role="navigation" aria-label="main navigation">
					<div class="navbar-brand">
						<span class="navbar-item">Gruppen</span>
						<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
							<span aria-hidden="true"></span>
							<span aria-hidden="true"></span>
							<span aria-hidden="true"></span>
						</a>
					</div>

					<div class="navbar-menu" id="navMenu">
						<div class="navbar-start">
							{% for group in groups %}
							<a class="navbar-item{% if group == active_group %} is-active{% endif %}" href="?group={{ group }}">{{ group }}</a>
							{% endfor %}
							<a class="navbar-item" href="/logout">
								<span class="icon"><i class="fas fa-sign-out-alt"></i></span>
								<span>Logout</span>
							</a>
						</div>
					</div>
				</nav>


		<section class="section">
			<div class="container">
				<nav class="level">
					<div class="level-left">
						<div class="level-item"><h1 class="title is-1">{{ title }}</h1></div>
					</div>
					<div class="level-right is-hidden-touch">
						<div class="level-item">
							<a class="button" href="/logout">
								<span class="icon"><i class="fas fa-sign-out-alt"></i></span>
								<span>Logout</span>
							</a>
						</div>
					</div>
				</nav>

				<!-- for desktop -->
				<div class="tabs is-hidden-touch">
					<ul>
						{% for group in groups %}
						<li {% if group == active_group %}class="is-active"{% endif %}><a href="?group={{ group }}">{{ group }}</a></li>
						{% endfor %}
					</ul>
				</div>

				<!-- Show active Group and display Button to create a new pad -->
				<nav class="level">
					<div class="level-left">
						<div class="level-item">Vorhandene Pads für Gruppe: {{ active_group }}</div>
					</div>
					{% if groupExistsAndAllowed %}
					<div class="level-right">
						<div class="level-item">
							<a class="button" id="goSearch" href="/search?group={{ active_group }}">
								<span class="icon"><i class="fas fa-search"></i></span>
								<span>Suche</span>
							</a>
						</div>
						<div class="level-item">
							<a class="button" id="newPad">
								<span class="icon"><i class="far fa-plus-square"></i></span>
								<span>Neues Pad</span>
							</a>
						</div>
					</div>
					{% endif %}
				</nav>

				<!-- list all tables for the active group -->
				{% if groupExistsAndAllowed %}
				<div style="overflow: auto;">
					<table class="table is-fullwidth is-bordered is-hoverable">
						<colgroup>
							<col span="1" style="width: 5em;">
							<col span="1">
							<col span="1" style="width: 4em;">
						</colgroup>
						<tbody>
							{% for pad in pads %}
							<tr>
								<td><a name="visibilityToggle" onclick="padVisibility('{{ pad.id | urlencode }}', {% if pad.public %}'private'{% else %}'public'{% endif %})"
										title="make this pad {%if pad.public %}private{% else %}public{% endif %}">
										<span class="icon">{% if pad.public %}<i class="fas fa-globe-americas">{% else %}<i class="fas fa-home">{% endif %}</i></span></a>
									<a name="contextMenu" data-padid='{{ pad.id | urlencode }}'><span class="icon"><i class="fas fa-ellipsis-h"></i></a>
								</td>
								<td><a href="{{ pad.url }}">{{ pad.title }}</a></td>
								<td><span class="tag is-family-monospace">{{ pad.date }}</span></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
				{% else %}
				<article class="message is-danger">
					<div class="message-body">
						The Group "<strong>{{ active_group }}</strong>" does either not exist or you do not have the necessary permissions.
					</div>
				</article>
				{% endif %}
			</div>

		</section>

		<!-- footer -->
		{% include 'footer.html' %}

		<!-- Modal to create new pads -->
		{% include 'modal.html' %}

		<!-- contextMenu template -->
		{% include 'contextmenu.html' %}

		<!-- JS to make things work -->
		<script src="{{ url_for('static', filename='js/components.js') }}"></script>
	</body>
</html>
