<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	</head>
	<body>

				<!-- for mobile -->
				<nav class="navbar is-danger is-hidden-desktop" role="navigation" aria-label="main navigation">
					<div class="navbar-brand">
						<span class="navbar-item">Gruppen</span>
						<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
							<span aria-hidden="true"></span>
							<span aria-hidden="true"></span>
							<span aria-hidden="true"></span>
						</a>
					</div>

					<div class="navbar-menu" id="navMenu">
						<div class="navbar-start">
							{% for group in groups %}
							<a class="navbar-item{% if group.active %} is-active{% endif %}">{{ group.name }}</a>
							{% endfor %}
						</div>
					</div>
				</nav>


		<section class="section">
			<div class="container">
				<h1 class="title is-1">{{ title }}</h1>

				<!-- for desktop -->
				<div class="tabs is-hidden-touch">
					<ul>
						{% for group in groups %}
						<li {% if group.active %}class="is-active"{% endif %}><a>{{ group.name }}</a></li>
						{% endfor %}
					</ul>
				</div>

				<!-- Show active Group and display Button to create a new pad -->
				<nav class="level">
					<div class="level-left">
						<div class="level-item">Vorhandene Pads für Gruppe: {{ active_group }}</div>
					</div>
					<div class="level-right">
						<div class="level-item">
							<a class="button" id="newPad">
								<span class="icon"><i class="far fa-plus-square"></i></span>
								<span>Neues Pad</span>
							</a>
						</div>
					</div>
				</nav>

				<!-- list all tables for the active group -->
				<div>
					<table class="table is-fullwidth is-bordered is-hoverable">
						<colgroup>
							<col span="1" style="width: 1em;">
							<col span="1">
							<col span="1" style="width: 4em;">
						</colgroup>
						<tbody>
							{% for pad in pads %}
							<tr>
								<td><span class="icon">{% if pad.public %}<i class="fas fa-globe-americas">{% else %}<i class="fas fa-home">{% endif %}</i></span></td>
								<td>{{ pad.title }}</td>
								<td><span class="tag">{{ pad.date }}</span></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				
				</div>
			</div>

		</section>

		<footer class="footer">
			<div class="content has-text-centered">
				<p>
				<strong>Padwoman</strong> build <a href="#">5f0d073</a>.
				The source code is licensed <a href="http://opensource.org/licenses/todo-license.php">TODO</a>.
				</p>
			</div>
		</footer>

		<!-- Modal to create new pads -->
		<div class="modal" id="createModal">
			<div class="modal-background"></div>
			<div class="modal-card">
				<header class="modal-card-head">
					<p class="modal-card-title">Neues Pad</p>
					<button class="delete" aria-label="close" id="createModalClose"></button>
				</header>
				<section class="modal-card-body">

					<div class="field is-horizontal">
						<div class="field-label is-normal">
							<label class="label">Name</label>
						</div>
						<div class="field-body">
							<div class="field">
								<div class="control">
									<input class="input" type="text" placeholder="Total wichtige Dinge" value="{{ new_pad_name }}">
								</div>
							</div>
						</div>
					</div>

					<div class="field is-horizontal">
						<div class="field-label">
							<label class="label">Vorlage verwenden?</label>
						</div>
						<div class="field-body">
							<div class="field is-narrow">
								<div class="control">
									<label class="radio">
										<input type="radio" name="member">
										Yes
									</label>
									<label class="radio">
										<input type="radio" name="member">
										No
									</label>
								</div>
							</div>
						</div>
					</div>

				</section>
				<footer class="modal-card-foot ">
					<button class="button is-success">Create Pad</button>
					<button class="button">Cancel</button>
				</footer>
			</div>
		</div>

		<!-- JS to make things work -->
	<script>
		// Modal
		document.getElementById('newPad').addEventListener('click', () => {
			var createModal = document.getElementById('createModal');
			createModal.classList.toggle('is-active');
		});

		// Closing the modal
		document.getElementById('createModalClose').addEventListener('click', () => {
			var createModal = document.getElementById('createModal');
			createModal.classList.toggle('is-active');
		});


		// Navbar
		document.addEventListener('DOMContentLoaded', () => {

			// Get all "navbar-burger" elements
			const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

			// Check if there are any navbar burgers
			if ($navbarBurgers.length > 0) {

				// Add a click event on each of them
				$navbarBurgers.forEach( el => {
					el.addEventListener('click', () => {

						// Get the target from the "data-target" attribute
						const target = el.dataset.target;
						const $target = document.getElementById(target);

						// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
						el.classList.toggle('is-active');
						$target.classList.toggle('is-active');

					});
				});
			}

		});
	</script>
	</body>
</html>
