<!DOCTYPE html>
<html>
	<head>
		{% include 'header.html' %}
	</head>
	<body>

				<!-- for mobile -->
				<nav class="navbar is-danger is-hidden-desktop" role="navigation" aria-label="main navigation">
					<div class="navbar-brand">
						<span class="navbar-item">Gruppen</span>
						<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
							<span aria-hidden="true"></span>
							<span aria-hidden="true"></span>
							<span aria-hidden="true"></span>
						</a>
					</div>

					<div class="navbar-menu" id="navMenu">
						<div class="navbar-start">
							{% for group in groups %}
							<a class="navbar-item{% if group.name == active_group %} is-active{% endif %}" href="?group={{ group.name }}">{{ group.name }}</a>
							{% endfor %}
						</div>
					</div>
				</nav>


		<section class="section">
			<div class="container">
				<h1 class="title is-1">{{ title }}</h1>

				<!-- for desktop -->
				<div class="tabs is-hidden-touch">
					<ul>
						{% for group in groups %}
						<li {% if group.name == active_group %}class="is-active"{% endif %}><a href="?group={{ group.name }}">{{ group.name }}</a></li>
						{% endfor %}
					</ul>
				</div>

				<!-- Show active Group and display Button to create a new pad -->
				<nav class="level">
					<div class="level-left">
						<div class="level-item">Vorhandene Pads für Gruppe: {{ active_group }}</div>
					</div>
					<div class="level-right">
						<div class="level-item">
							<a class="button" id="newPad">
								<span class="icon"><i class="far fa-plus-square"></i></span>
								<span>Neues Pad</span>
							</a>
						</div>
					</div>
				</nav>

				<!-- list all tables for the active group -->
				<div>
					<table class="table is-fullwidth is-bordered is-hoverable">
						<colgroup>
							<col span="1" style="width: 1em;">
							<col span="1">
							<col span="1" style="width: 4em;">
						</colgroup>
						<tbody>
							{% for pad in pads %}
							<tr>
								<td><span class="icon">{% if pad.public %}<i class="fas fa-globe-americas">{% else %}<i class="fas fa-home">{% endif %}</i></span></td>
								<td>{{ pad.title }}</td>
								<td><span class="tag">{{ pad.date }}</span></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				
				</div>
			</div>

		</section>

		<!-- footer -->
		{% include 'footer.html' %}

		<!-- Modal to create new pads -->
		{% include 'modal.html' %}

		<!-- JS to make things work -->
		<script src="{{ url_for('static', filename='js/components.js') }}"></script>
	</body>
</html>
