<div class="modal" id="createModal">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">Neues Pad <small>in {{ active_group }}</small></p>
			<button class="delete" aria-label="close" id="createModalClose"></button>
		</header>
		<form id="modalForm" onsubmit="return submitFunction();">
			<section class="modal-card-body">

				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label">Name</label>
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								<input class="input" data-padname="{{ new_pad_name }}" id="modalPadname" type="text" placeholder="Total wichtige Dinge" value="{{ new_pad_name }}" {% if nameSuggestionMandatory %}disabled{% endif %}>
							</div>

						<p class="help is-danger" id="modalError"></p>
						</div>
					</div>

				</div>

				{% if group_has_date or group_has_time %}
				<div class="field is-horizontal">
					<div class="field-label is-normal"></div>
					<div class="field-body">
						{% if group_has_date %}
						<div class="field">
							<div class="control">
								<input class="input" id="modalDate" type="date" required {% if not datetimeAdjustable %}readonly{% endif %} value="{{ dateDefault }}">
							</div>
						</div>
						{% endif %}
						{% if group_has_time %}
						<div class="field">
							<div class="control">
								<input class="input" id="modalTime" type="time" required {% if not datetimeAdjustable %}readonly{% endif %} value="{{ timeDefault }}">
							</div>
						</div>
						{% endif %}
						<div class="control">
							<button type="button" class="button" id="modalNow" {% if not datetimeAdjustable %}disabled{% endif %}><i class="fas fa-calendar-day"></i></button>
							{% if '' != dateDefault or '' != timeDefault %}<button type="button" class="button" id="modalReset" {% if not datetimeAdjustable %}disabled{% endif %}><i class="fas fa-undo"></i></button>{% endif %}
						</div>
					</div>
				</div>

				<div class="field is-horizontal">
					<div class="field-label is-normal"></div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								<input class="input" id="modalPadnamePreview" type="text" value="" disabled>
							</div>
						</div>
					</div>
				</div>
				{% endif %}

				<input id="currentGroup" value="{{ active_group }}" hidden>

				{% if group_has_template %}
				<div class="field is-horizontal">
					<div class="field-label">
						<label class="label">Vorlage verwenden?</label>
					</div>
					<div class="field-body">
						<div class="field is-narrow">
							<div class="control">
								<label class="radio">
									<input type="radio" name="member" id="newPadSetContent" checked {% if template_mandatory %}disabled{% endif %}>
									Yes
								</label>
								<label class="radio">
									<input type="radio" name="member" {% if template_mandatory %}disabled{% endif %}>
									No
								</label>
							</div>
						</div>
					</div>
				</div>
				{% endif %}

			</section>
			<footer class="modal-card-foot" style="justify-content: flex-end;">
				<button type="submit" class="button is-danger" id="modalButton">Create Pad</button>
			</footer>
		</form>
	</div>
</div>
